<div class="avatar d-none" data-signup-visibility-target="avatar">
  <%= if resource.avatar.attached? %>
    <%= image_tag(resource.avatar) %>
  <%= else %>
    <%= image_tag("/default_avatar.png") %>
  <%= end %>
</div>
