<div class="comments-container" data-controller="post-comment">
  <div id="sticky-header">
    <div class="back-arrow" id="back-arrow-small-margin">
      <%= link_to posts_path do %>
        <i class="fa-sharp fa-solid fa-arrow-left"></i>
      <% end %>
    </div>

    <div>
      <h1 class="upcase-header" id="sticky-header-bar">Comments</h1>
    </div>
  </div>

  <div data-post-comment-target="comments">
    <div class="post-content">
      <p><%= @post.content %></p>
      <i class="fa-regular fa-hand-point-up"></i>
    </div>
    <div class="post-comments">
        <% @post.post_comments.each do |post_comment| %>
            <%= render "comment", post_comment: post_comment %>
        <% end %>
    </div>

    <div id="comment-form">
        <%= simple_form_for [@post, @post_comment], html: { data: { action: "submit->post-comment#submitForm" } }  do |f| %>
          <%= f.input :content, label: "Add Your Comment" %>
          <%= f.submit "SEND", class: "small-turquiose-btn add-comment-btn" %>
        <% end %>
    </div>
  </div>
</div>
