<br>
<div class="container">
  <div class="login_btn"><%= link_to 'EDIT', edit_user_registration_path %></div>
  <div class="bell_icon">
    <%= link_to "#", class: "notifications" do %>
      <%= image_tag("icons/notifications_icon.png", class: "notifications-icon") %>
    <% end %>
  </div>
</div>
<br>
<div class="name_header">@<%= @user.username %></div>

<div class="card profile">
  <%= link_to image_tag("https://thumbs.dreamstime.com/b/user-icon-vector-male-person-symbol-profile-circle-avatar-sign-user-icon-vector-male-person-symbol-profile-circle-avatar-sign-115922528.jpg", class: "profile_img"), edit_user_path(current_user) %>

  <div class="profile_info">
    <h3>real name </h3>
    <p>you have to introduce yourself here , the team i support and the why i am suporting this team, </p>
  </div>
</div>
<br>

<div class="card" id="profile_card">
  upcoming matches(linked to bookings)
  <%= link_to "#", class: "upcoming events" do %>
    <button><%= "View all:" %></button>
  <% end %>
</div>

<br>

<div class="card" id="profile_card">
  created events(linked to created events)
  <%= link_to "#", class: "events created" do %>
    <button><%= "View all:" %></button>
  <% end %>
</div>

<br>
<div class="navbar"></div>
