<div class="profile-container">
  <div class="edit-btn">
    <%= link_to 'EDIT', edit_user_registration_path %>
  </div>
  <div class="bell_icon">
    <%= link_to user_notifications_path(current_user), class: "notifications" do %>
      <%= image_tag("icons/notifications_icon.png", class: "notifications-icon") %>
    <% end %>
  </div>
</div>
<div class="name_header">@<%= @user.username %></div>

<div class="card profile">
  <%= link_to image_tag(url_for(current_user.avatar), class: "profile_img"), edit_user_path(current_user), class: "nav-link"%>

  <div class="profile_info">

    <h3><strong>About Me</strong></h3>
    <p>A few sentences about myself, my interests, and the team I support.</p>

  </div>

</div>

<div class="upcoming-created-events">
  <div class="card" id="profile_card">
    <h3><strong>BOOKED EVENTS</strong></h3>
    <div class="bookings" style="overflow:scroll; height:150px;">
      <ul class="user-bookings">
        <% current_user.event_bookings.each do |booking|%>
          <a href= "<%= event_path(booking.event) %>">
            <div class="card-product-info">
              <div>
                  <li class="first"><strong><%= booking.event.name %></strong> by <%= booking.event.user.username %> <br> <%= booking.event.match_time %></li>
              </div>
            </div>
          </a>
        <% end %>
      </ul>
    </div>
  </div>
  <br>
  <div class="card" id="profile_card">
    <h3><strong>CREATED EVENTS</strong></h3>
    <div class="created_events" style="overflow:scroll; height:150px;">
      <ul class="created">
        <% current_user.events.each do |event| %>
          <a href= "<%= event_path(event) %>">
            <div class="card_info">
              <li class="second"><strong><%= event.name %></strong> <%= event.match_time %></li>
            </div>
          </a>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="navbar"></div>
