<div class="profile-container">
  <div class="edit-btn">
    <%= link_to 'edit', edit_user_registration_path %>
  </div>
  <div class="bell_icon">
    <% if current_user.notifications.unread.present? %>
      <%= link_to user_notifications_path(current_user), class: "notifications" do %>
        <%= image_tag("icons/notifications_icon_red.PNG", class: "notifications-icon") %>
      <% end %>
    <% else %>
      <%= link_to user_notifications_path(current_user), class: "notifications" do %>
        <%= image_tag("icons/notifications_icon.png", class: "notifications-icon") %>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<div class="name_header">@<%= @user.username %></div>

<div class="card profile">

  <div class="display-user-avatar">
    <% if current_user.avatar.attached? %>
      <%= link_to image_tag(url_for(current_user.avatar), class: "profile_img"), edit_user_path(current_user), class: "nav-link"%>
    <% else %>
      <%= link_to image_tag('default_avatar.png', class: "profile_img") %>
    <% end %>
  </div>

  <div class="profile_info">

    <h3><strong>About Me</strong></h3>
    <p>A few sentences about myself, my interests, and the team I support.</p>

  </div>

</div>

<div class="upcoming-created-events">
  <div class="card" id="booking_card">
    <h3><strong>BOOKED EVENTS</strong></h3>
    <div class="bookings" style="overflow:scroll; height:200px;">
      <ul class="user-bookings">
        <% current_user.event_bookings.each do |booking|%>
          <a href= "<%= event_path(booking.event) %>">
            <div class="card-product-info">
              <div class="event_info <%= "passed_booking" if booking.event.match.match_time < Time.now %>">
                <li class="created" id="one"><strong><%= booking.event.name.upcase %></strong></li>
                <li class="created" id="a-card"><%= booking.event.description %></li>
                <li class="created" id="three"><i class="fa-regular fa-calendar"></i>&nbsp&nbsp<%= booking.event.match.match_time.strftime("%d %B %Y") %><%= booking.event.match_time.strftime(" | %l:%M%P") %></li>
                <li class="created" id="four"><i class="fa-solid fa-location-dot"></i>&nbsp&nbsp<%= booking.event.location.name %></li>
                <li class="created" id="five"><i class="fa-solid fa-user"></i> | <%= booking.event.user.username %> |</li>
              </div>
            </div>
          </a>
        <% end %>
      </ul>
    </div>
  </div>
  <br>
  <div class="card" id="event_card">
    <h3><strong>CREATED EVENTS</strong></h3>
    <div class="created_events" style="overflow:scroll; height:200px;">
      <ul class="created">
        <% current_user.events.each do |event| %>
          <a href= "<%= event_path(event) %>">
            <div class="card_info <%= "passed_event" if event.match.match_time < Time.now %>">
              <li class="created" id="one"><strong><%= event.name.upcase %></strong></li>
              <li class="created" id="b-card"><%= event.description %></li>
              <li class="created" id="three"><i class="fa-regular fa-calendar"></i>&nbsp&nbsp<%= event.match.match_time.strftime("%d %B %Y") %><%= event.match_time.strftime(" | %l:%M%P") %></li>
              <li class="created" id="four"><i class="fa-solid fa-location-dot"></i>&nbsp&nbsp<%= event.location.name %></li>
            </div>
          </a>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="navbar"></div>
