<div class="profile">
  <div class="profile-container">

    <div class="profile-buttons">
      <div class="edit-btn">
        <%= link_to 'edit', edit_user_registration_path %>
      </div>

      <div class="bell_icon">
        <% if current_user.notifications.unread.present? %>
          <%= link_to user_notifications_path(current_user), class: "notifications" do %>
            <%= image_tag("icons/notifications_icon_red.PNG", class: "notifications-icon") %>
          <% end %>
        <% else %>
          <%= link_to user_notifications_path(current_user), class: "notifications" do %>
            <%= image_tag("icons/notifications_icon.png", class: "notifications-icon") %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="downcase-header" id="username-header">
      @<%= @user.username %>
    </div>

    <div class="profile-info-container">
      <div class="user-profile-avatar">
        <% if current_user.avatar.attached? %>
          <%= link_to image_tag(url_for(current_user.avatar), class: "profile_img"), edit_user_path(current_user), class: "nav-link"%>
        <% else %>
          <%= link_to image_tag('default_avatar.png', class: "profile_img") %>
        <% end %>
      </div>

      <div class="profile-info-card">

        <div class="profile-info">
          <div class="profile-info-text">
            <div class="user-about">
              My Team
            </div>
            <div class="user-team">
              <%= @user.team %>
            </div>
          </div>
        </div>

        <div class="profile-info-triangle"></div>
      </div>

    </div>

    <div class="profile-events">

      <% unless current_user.event_bookings.empty? %>
        <div class="user-booked-events">
          <div class="user-events-header">
            booked events
          </div>
          <div class="user-events-list">
            <% @bookings.each do |booking|%>
              <a href= "<%= event_path(booking.event) %>" style= "text-decoration: none">
                <div class="booked-event-info <%= "past-booked-event-info" if booking.event.match.match_time < Time.now %>">
                  <div class="user-event-name">
                    <%= booking.event.name.upcase %>
                  </div>
                  <div class="user-event-date">
                    <i class="fa-regular fa-calendar"></i>&nbsp&nbsp<%= booking.event.match.match_time.strftime("%d %B %Y") %><%= booking.event.match_time.strftime(" | %l:%M%P") %>
                  </div>
                  <div class="user-event-location">
                    <i class="fa-solid fa-location-dot"></i>&nbsp&nbsp<%= booking.event.location.name %>
                  </div>
                </div>
              </a>
            <% end %>
          </div>
        </div>
      <% end %>

      <% unless current_user.events.empty? %>
        <div class="user-my-events">
          <div class="user-events-header">
            my events
          </div>
          <div class="user-events-list">
            <% @events.each do |event| %>
              <a href= "<%= event_path(event) %>" style= "text-decoration: none">
                  <div class="my-event-info <%= "past-my-event-info" if event.match.match_time < Time.now %>">
                    <div class="user-event-name">
                      <%= event.name.upcase %>
                    </div>
                    <div class="user-event-date">
                      <i class="fa-regular fa-calendar"></i>&nbsp&nbsp<%= event.match.match_time.strftime("%d %B %Y") %><%= event.match_time.strftime(" | %l:%M%P") %>
                    </div>
                    <div class="user-event-location">
                      <i class="fa-solid fa-location-dot"></i>&nbsp&nbsp<%= event.location.name %>
                    </div>
                  </div>
              </a>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
