<div class="navbar-container">
  <div class="navbar">
    <%= link_to posts_path, class: "navbar-community" do %>
      <%= image_tag("icons/multiple-users-icon.png", class: "community-icon") %>
    <% end %>

    <div class="circleimage">
      <%= link_to matches_path, class: "navbar-matches" do %>
        <%= image_tag("icons/football-icon.png", class: "matches-icon") %>
      <% end %>
    </div>
    <% if current_user.notifications.unread.present? %>
      <%= link_to user_path(current_user), class: "navbar-profile" do %>
      <%= image_tag("icons/notifications_icon_red.PNG", class: "profile-icon") %>
      <% end %>
    <% else %>
      <%= link_to user_path(current_user), class: "navbar-profile" do %>
      <%= image_tag("icons/user-icon.png", class: "profile-icon") %>
      <% end %>
    <% end %>

  </div>
</div>
