<div class="new-event-container">
  <div class="back-arrow" id="back-arrow-margin">
    <% @match.id = params[:match_id] %>
    <%= link_to match_events_path(@match) do %>
      <i class="fa-sharp fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
  <h1 class="upcase-header-small-margin">Create Event</h1>

  <%= simple_form_for [@match, @event] do |f| %>
    <div class="form-input">
      <%= f.input :name, label: "Create a name for this event" %>
    </div>
    <div class="form-input">
      <%= f.input :description, label: "Enter description" %>
    </div>
    <div class="inline-form">
      <div class="form-input form-input-time">
        <%= f.input :match_time, label: "Time" %>
      </div>
      <div class="form-input form-input-capacity">
        <%= f.input :capacity, label: "Capacity" %>
      </div>
    </div>
    <div class="form-input event-searchbar" data-controller="location-search">
      <%= f.association :location, label: "Choose location", input_html: { id: "drop", data: { location_search_target: "dropdown" } } %>
    </div>
    <br>
    <div class="button-container">
      <%= f.submit "CREATE EVENT", class:"turquiose-btn" %>
    </div>
  <% end %>
</div>
