<div class="back-arrow" id="back-arrow-margin">
  <%= link_to match_events_path(@event.match) do %>
    <i class="fa-sharp fa-solid fa-arrow-left"></i>
  <% end %>
</div>
<div class="events-show-container">
  <h1 class="upcase-header"><%= @event.name %></h1>
  <div class="event-show-card">
    <div class="event-show-rectangle">
      <p class="event-italic"><%= @event.description %></p>
      <% if @event.capacity.present? %>
        <p><i class="fa-solid fa-maximize"></i>&nbsp&nbsp&nbsp<%= "#{@event.capacity} people max" %></p>
      <% end %>
      <p><i class="fa-regular fa-calendar"></i>&nbsp&nbsp&nbsp<%= @event.match.match_time.strftime("%d %B %Y") %><%= @event.match_time.strftime(" | %l:%M%P") %></p>
      <p><i class="fa-solid fa-location-dot"></i>&nbsp&nbsp&nbsp&nbsp<%= @event.location.name %></p>
      <p><i class="fa-solid fa-users"></i>&nbsp&nbsp<%= @event.event_bookings.count%></p>
    </div>
    <div class="event-show-triangle">
    </div>
  </div>

  <% if @event.user == current_user%>
    <div class="edit-btn-card">
      <%= link_to "Edit Details", edit_event_path(@event), class: "tqse-link" %>
    </div>
  <% else %>
    <br>
  <% end %>

  <div class="locations-map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <% if @event.user == current_user%>
  <div>
      <%= link_to "CHATROOM", event_chatroom_path(@event, @event.chatroom), class: "green-btn chatroom-btn" %>
  </div>
    <div id="delete-event">
    <%= link_to "Delete Event", event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "tqse-link" %>
  </div>
  <% else %>
    <% if @event.event_bookings.map(&:user_id).include? current_user.id %>
      <%= link_to "CHATROOM", event_chatroom_path(@event, @event.chatroom), class: "green-btn chatroom-btn" %>
    <div>
      <%= link_to 'Leave Event', event_booking_path(@event), data: { turbo_method: :delete}, class: "tqse-link" %>
    </div>
    <% else %>
    <div>
      <%= form_tag(event_event_bookings_path(@event), method: :post) do %>
      <%= submit_tag 'JOIN EVENT', class: "turquiose-btn" %>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
