<div class="events-show-container">
  <h1 class="upcase-header"><%= @event.name %></h1>

  <div class="temp-event-card">
    <p><%= @event.description %></p>
    <p><i class="fa-regular fa-calendar"></i>&nbsp&nbsp<%= @event.date_time.strftime("%d %B %Y | %l:%M%P") %><p>
    <p><i class="fa-solid fa-location-dot"></i>&nbsp&nbsp<%= @event.location.name %>
  </div>

  <div class="locations-map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <button class="turquiose-btn">JOIN EVENT</button>
</div>
