

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
  <div class= "login_simple_form">
    <div class="signup-header">Welcome back</div>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  placeholder: "Email" %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" },
                  placeholder: "Password" %>
      <div class="login-checkbox">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>

    <div class="login-btn-container">
      <div class="submit-btn">
        <%= f.button :submit, "Log In" %>
      </div>
    </div>
  </div>
<% end %>
