<div data-search-matches-target="list">
  <p class="match-subheader">
    <% if params[:query].blank? %>
      <%= pluralize matches.count, "match" %> available
    <% else %>
      <%= pluralize matches.count, "result" %> for <code><%= params[:query] %></code>
    <% end %>
  </p>
  <div class= "matches">
    <% @matches.each do |match| %>
    <div class="match-row">
      <div class="match-card">
        <p><%= match.match_time %>
        <p><%= match.team_one.upcase %> VS <%= match.team_one.upcase %> </p>
      </div>
      <div class="match-triangle">
      </div>
    </div>
    <% end %>
  </div>
</div>
