<div class="posts-index-container">

  <div class="community-header">
    <h1 id="community-upcase-header" class="upcase-header">Community</h1>
    <%= link_to new_post_path do %>
      <i class="fa-solid fa-circle-plus plus-button" id="event-add-button"></i>
    <% end %>
  </div>

  <div class="community-posts">
    <% @posts.all.each do |post| %>
      <div class="community-post">
        <div class="community-post-header">

          <p><%= "@#{post.user.username}" %></p>
          <p><%= post.user.team %></p>
        </div>
        <div class="community-post-photo">
          <img src="<%= cl_image_path post.photo.key %>">
        </div>
        <div class="community-post-feedback">
          <div class="community-post-comment">
            <p><%= post.content %></p>
            <p><small><%= post.created_at.strftime("%d %b %y | %l:%M%P") %></small></p>
          </div>
          <div class="post-likes">
            <%= image_tag("icons/foam-finger-icon.png", class: "likes-icon") %>
          </div>
        </div>
        <div class="post-links">
          <p id="post-comment"><%= link_to "View Comments", post_post_comments_path(post) %></p>
          <div class="post-changes">
            <p><%= link_to "Edit", edit_post_path(post), class: "post-delete" %></p>
            <p><%= link_to "Delete", post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "post-edit" %></p>
          </div>
        </div>

        <div>
          <%= link_to post_post_likes_path(post), data: { turbo_method: :post } do %>
            <i class="fa-regular fa-hand-point-up">&nbsp&nbsp<%= post.post_likes.count%></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
