<div class="posts-index-container" >

  <div class="community-header">
    <h1 id="community-upcase-header" class="upcase-header" id="comunity-header">Community</h1>
    <%= link_to new_post_path do %>
      <i class="fa-solid fa-circle-plus plus-button" id="event-add-button"></i>
    <% end %>
  </div>



  <div class="community-posts">
    <% @posts.all.each do |post| %>
      <div class="community-post">
        <div class="community-post-header">
          <div class="user-post-details">
            <% if post.user.avatar.key %>
              <%= cl_image_tag post.user.avatar.key, class: "avatar-small" %>
            <% end %>
            <p><%= "@#{post.user.username}" %></p>
          </div>
          <p><%= post.user.team %></p>
        </div>
        <div class="community-post-photo">
          <%= cl_image_tag post.photo.key %>
        </div>
        <div class="community-post-feedback">
          <div class="community-post-comment">
            <p><%= post.content %></p>
            <p><small><%= post.created_at.strftime("%d %b %y | %l:%M%P") %></small></p>
          </div>
          <div class="post-likes">
            <% if post.post_likes.map(&:user_id).include?current_user.id %>
              <%= link_to post_like_path(post), class: "post-likes-link",data: { turbo_method: :delete } do %>
              <div class="post-likes-number">
                <%= post.post_likes.count%>
              </div>
              <% end %>
            <%else%>
              <%= link_to post_post_likes_path(post), class: "post-likes-link",data: { turbo_method: :post } do %>
              <div class="post-likes-number">
                <%= post.post_likes.count%>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="post-links">
          <p id="post-comment"><%= link_to "View Comments", post_post_comments_path(post) %></p>
          <div class="post-changes">
            <p><%= link_to "Edit", edit_post_path(post), class: "post-delete" %></p>
            <p><%= link_to "Delete", post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "post-edit" %></p>
          </div>
        </div>


  <div class="community-posts" data-controller="search-posts" data-search-posts-team-value=<%= current_user.team ? "#{current_user.team}" : "nil" %> data-search-posts-user-value="<%= current_user.id %>" >
    <%= form_with url: posts_path,
      method: :get,
      html: {class: "search-form", id: "search-form-posts", data: {search_posts_target: "posts"}} do |f|
    %>
    <%= f.text_field :query,
      class: "input",
      placeholder: "Search Posts",
      value: params[:query],
      data: {
        search_posts_target: "search",
        action: "keyup->search-posts#update"
      }
    %>
      <i class="fa fa-search"></i>
      <% end %>

      <div class="post-filters">
        <p data-action="click->search-posts#allFilter" data-search-posts-target="PostFilter" class="green-btn filter-btn-change filter-btn">All<p>
        <p data-action="click->search-posts#teamFilter" data-search-posts-target="teamPostFilter" class="green-btn filter-btn-change post-filter-btn-margin-left filter-btn">Team<p>
        <p data-action="click->search-posts#myFilter" data-search-posts-target="myPostFilter" class="green-btn filter-btn-change post-filter-btn-margin-left filter-btn">Me<p>

      </div>

    <%= render "feed", posts: @posts %>
  </div>
</div>
<% end %>
